header {
	background-color: black;
	height: 70px;
	width: 100%;
	
	border-bottom: 1px solid #CCCCCC;
}

b {
	color: #FFFFFF;
	font-size: 25px;
	line-height: 60px;

	float: left;
	margin-top: 7px;
	margin-bottom: 11px;
	margin-left: 60px;
}



